@CHARSET "ISO-8859-1";

#page_border {
	width: 100%;
	height: 80px;
	background: #095825;
	margin: 0px;
}

#york_logo {
	float: right;
	width: 80px;
	height: 80px;
}

#table {
	text-align: center;
}
#myTable {
	text-align: center;
	poisition: absolute;
}
#enter {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #095825;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}