@CHARSET "ISO-8859-1";

#page_border {
	width: 100%;
	height: 80px;
	background: #095825;
	margin: 0px;
}
#york_logo {
	float: right;
	width: 80px;
	height: 80px;
}

.videoTitleWrapper {
	width: 640px;
}
.videoTitle {
	font-family: Georgia;
	font-size: 32px;
}
.videoTitle:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#reviewComment {
	position: absolute;
}
#reviewStars {
	position: relative;
}	
#reviewSubmit {
	position: relative;
}

#ratingContainer {
	position: relative;
}
#ratingStars {
	position: absolute;
}